<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092342130740-sj5i3he7q3tan2v5vp96c8plblfaa4dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092342130740-sj5i3he7q3tan2v5vp96c8plblfaa4dd</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmQ9C6fFd0gxwk2YWxknYzY3_VAHx5-c</string>
	<key>GCM_SENDER_ID</key>
	<string>1092342130740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileSolarMp</string>
	<key>PROJECT_ID</key>
	<string>solar-4383c</string>
	<key>STORAGE_BUCKET</key>
	<string>solar-4383c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092342130740:ios:97888505da1d5dadff8261</string>
	<key>DATABASE_URL</key>
	<string>https://solar-4383c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>